body {
  background: url("../img/landing.jpg") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
}

h1, p {
  color: #fefefe;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 5em;
}

p {
  color: #fefefe;
  font-size: 1.3em;
}

span.sep1 {
  color: #e2e2e2;
  font-size: 0.8em;
}

span.sep2 {
  color: #cecece;
  font-size: 0.6em;
}

span.low_accent {
  color: #bebebe;
  font-size: 0.7em;
}

span.title_accent {
  color: #bebebe;
  font-size: 0.8em;
}


.bg-dark {
  background-color: #1b1e21 !important;
}

.main-content .fa, .main-content .fab {
  margin-left: 2em;
  color: #fefefe !important;
}

.main-content i.fab, .main-content i.fa {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-content i.fab:hover, .main-content i.fa:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  cursor: pointer;
  color: #f7f7f7 !important;
}

.player .fa {
  margin-left: 2em;
  color: #fefefe !important;
}

.player i.fa {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.player i.fa:hover {
  cursor: pointer;
  color: #d4d4d4 !important;
}

.player #vol_off, .player #vol_on {
  font-size: 4em !important;
  margin-left: 0.8em;
  margin-top: 0.5em;
}

.player #vol_off {
  z-index: 1;
  position: absolute;
}

.player #vol_on {
  z-index: 10;
  position: absolute;
  visibility: collapse;
}