body {
  background: url("../img/landing.jpg") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
}

h1, p {
  color: #fefefe;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 5em;
}

p {
  color: #fefefe;
  font-size: 1.3em;
}

span.sep1 {
  color: #e2e2e2;
  font-size: 0.8em;
}

span.sep2 {
  color: #cecece;
  font-size: 0.6em;
}

span.low_accent {
  color: #bebebe;
  font-size: 0.7em;
}

span.title_accent {
  color: #bebebe;
  font-size: 0.8em;
}


.bg-dark {
  background-color: #1b1e21 !important;
}

.main-content .fa, .main-content .fab {
  color: #fefefe !important;
  margin-right: 2em;
}

.main-content i.fab, .main-content i.fa {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-content i.fab:hover, .main-content i.fa:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

  cursor: pointer;
  color: #f7f7f7 !important;
}

.player #vol_off {
  z-index: 1;
  visibility: visible;
}

.player #vol_on {
  z-index: 10;
  visibility: collapse;
}

.player #vol_on, .player #vol_off {
   position: absolute;
   margin-left: 2em;
   margin-top: 1.5em;
   cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
 }

.player #vol_on:hover, .player #vol_off:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}